.about_page{
    background: #171717;
    position: relative;
    color: gray;
    padding: 40px 40px;
}

.main_body_about{
    text-align: left;
}

.title{
    color: wheat;
    text-align: left;
    padding: 25px;
}

.about_{
    padding-left: 20px;
}

.education{
    padding: 40px -40px;
}

.work_experience{
    padding: 40px -40px;
    color: #444444;
    text-align:inherit;  
}