.home_page{
    position: relative;
    text-align: center;
    min-height: 85vh;
}
.main_body_home{
    padding: 90px 50px;
    color: gray;
    text-align: center;
}

.my_image {
    text-align: center;
    height : 280px;
    border-radius: 5%;
}

.current_designation{
    font-size: large;
    font-weight: 150px;
    color: white;    
    padding: 25px;
}

@media screen and (max-width: 960px){
    .home_page{
        min-height: 80vh;
    }
    .current_designation{
        padding: 10px
    }
}