.home_page{
    position: relative;
    text-align: center;
    min-height: 85vh;
}
.main_body_home{
    padding: 90px 120px;
    color: gray;
    text-align: center;
}

.my_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height : 280px;
    border-radius: 5%;
}

.current_designation{
    font-size: large;
    font-weight: 150px;
    color: white;    
}